In [ ]:
import numpy as np
import pandas as pd
import os
import cv2
import matplotlib.pyplot as plt
import itertools
import tensorflow as tf
import gdown
from imblearn.over_sampling import SMOTE
from sklearn.utils import resample
from google.colab import drive
from keras.layers import Dropout
from keras import Sequential
from keras.utils import to_categorical
from keras.preprocessing.image import ImageDataGenerator
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.utils import resample

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:

folder = '/content/drive/MyDrive/Dataset/archive/student-lpor.csv'

dataset = pd.read_csv(folder)

In [ ]:
dataset.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,4,3,4,1,1,3,4,0,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,no,5,3,3,1,1,3,2,9,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,no,4,3,2,2,3,3,6,12,13
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,3,2,2,1,1,5,0,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,4,3,2,1,2,5,0,11,13

In [ ]:
dataset['school'] = dataset['school'].astype('category').cat.codes
dataset['sex'] = dataset['sex'].astype('category').cat.codes
dataset['address'] = dataset['address'].astype('category').cat.codes
dataset['famsize'] = dataset['famsize'].astype('category').cat.codes
dataset['Pstatus'] = dataset['Pstatus'].astype('category').cat.codes
dataset['Mjob'] = dataset['Mjob'].astype('category').cat.codes
dataset['Fjob'] = dataset['Fjob'].astype('category').cat.codes
dataset['reason'] = dataset['reason'].astype('category').cat.codes
dataset['guardian'] = dataset['guardian'].astype('category').cat.codes
dataset['schoolsup'] = dataset['schoolsup'].astype('category').cat.codes
dataset['famsup'] = dataset['famsup'].astype('category').cat.codes
dataset['paid'] = dataset['paid'].astype('category').cat.codes
dataset['activities'] = dataset['activities'].astype('category').cat.codes
dataset['nursery'] = dataset['nursery'].astype('category').cat.codes
dataset['higher'] = dataset['higher'].astype('category').cat.codes
dataset['internet'] = dataset['internet'].astype('category').cat.codes
dataset['romantic'] = dataset['romantic'].astype('category').cat.codes

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    int8
 1   sex         649 non-null    int8
 2   age         649 non-null    int64
 3   address     649 non-null    int8
 4   famsize     649 non-null    int8
 5   Pstatus     649 non-null    int8
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    int8
 9   Fjob        649 non-null    int8
 10  reason      649 non-null    int8
 11  guardian    649 non-null    int8
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  schoolsup   649 non-null    int8
 15  famsup      649 non-null    int8
 16  paid        649 non-null    int8
 17  activities  649 non-null    int8
 18  nursery     649 non-null    int8
 19  higher      649 non-null    int8
 20  internet    649 non-null    int8
 21  romantic    649 non-null    int8
 22  famrel      649 non-null    int64
 23  freetime    649 non-null    int64
 24  goout       649 non-null    int64
 25  Dalc        649 non-null    int64
 26  Walc        649 non-null    int64
 27  health      649 non-null    int64
 28  absences    649 non-null    int64
 29  G1          649 non-null    int64
 30  G2          649 non-null    int64
dtypes: int64(14), int8(17)
memory usage: 81.9 KB

In [ ]:
input_train, input_test, output_train, output_test = train_test_split(dataset.iloc[:, 0:4], dataset['G1'], test_size = 0.2)

input_train = pd.DataFrame(input_train)
input_train.to_csv('input_train.csv', index=False)

input_test = pd.DataFrame(input_test)
input_test.to_csv('input_test.csv', index = False)

output_train = pd.DataFrame(output_train)
output_train.to_csv('output_train.csv', index = False)

output_test = pd.DataFrame(output_test)
output_test.to_csv('output_test.csv', index = False)

In [ ]:
x = dataset.iloc[:, 0:4].values
y = dataset['G1'].values

In [ ]:
dataset = pd.DataFrame(dataset)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
sc = StandardScaler()
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std = sc.transform(x_test)